REDIS_URL=redis://redis:6379
METRICS_ADDR=0.0.0.0:9090
MIN_PROFIT_PERC=0.1
CYCLE_VOLUME=100
FEE_PERCENT=0.00075
STABLECOINS=USDT,USDC
ORDER_TIMEOUT_SEC=15
API_BASE_URL=https://api.binance.com
API_KEY=
API_SECRET=